<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-building-o"></i> Supplier</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="tile">
        <div class="tile-body">
          <h3 class="tile-title">Supplier Info</h3>
          <input ng-model='input' type="text" placeholder="Choose" />
          <form (ngSubmit)="insertSupplier()" [formGroup]="addForm">
            <div class="form-group">
              <input placeholder="Supplier ID" formControlName="id" name="code" class="form-control" id="code">
            </div>
            <div class="form-group">
              <input placeholder="Supplier Name" formControlName="Name" name="unit_desc" class="form-control" id="unit_desc">
            </div>
            <div class="tile-footer">
              <button class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="tile">
      <div class="tile-body">
        <h3 class="tile-title">List of Supplier</h3>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sup of suppliers">
                <td>{{sup.id}}</td>
                <td>{{sup.name}}</td>
                <td>
                  <button class="btn btn-info" (click)="onUpdate(sup.id)"><i class="fa fa-edit"></i> Edit</button>
                  <button class="btn btn-danger"(click)="onDelete(sup.id)"><i class="fa fa-trash"></i> Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tile-footer">
        </div>
      </div>
    </div>
  </div>
  </div>

</main>


<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" placeholder="Enter full name">
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="email" placeholder="Enter email address">
          </div>
          <div class="form-group">
            <label class="control-label">Address</label>
            <textarea class="form-control" rows="4" placeholder="Enter your address"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Gender</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gender">Male
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gender">Female
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Identity Proof</label>
            <input class="form-control" type="file">
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox">I accept the terms and conditions
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

