<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-building-o"></i> Supplier</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <h3 class="tile-title">List of Supplier</h3>
          <button type="button" class="btn btn-primary" (click)="ClickAdd()" data-toggle="modal" data-target="#myModal">Add Supplier</button>
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampletable">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sup of suppliers" [id]="sup.id">
                  <td>{{sup.id}}</td>
                  <td>{{sup.name}}</td>
                  <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="PassData(sup.id, sup.name)"><i class="fa fa-edit"></i> Edit</button>
                    <button class="btn btn-danger" (click)="deleteSupplier(sup.id)"><i class="fa fa-trash"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tile-footer">

          </div>
        </div>
      </div>
    </div>
</main>


<!-- Large modal -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Supplier</h4>
        </div>

        <form (ngSubmit)="verifyProcess()" [formGroup]="addSupplierForm">
          <div class="modal-body">

            <div class="form-group">
              <label for="supplierID">Supplier  ID</label>
              <input formControlName="id" [value]="idInput" name="id" class="form-control" #supplierID id="supplierID">
            </div>
            <div class="form-group">
              <label for="supplierNametext">Supplier Name</label>
              <input formControlName="Name" [value]="SupplierInput" name="SupplierName" #supplierNametext class="form-control" id="supplierNametext">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="closeModal" #closeModal class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
            <button class="btn btn-primary"><i class="fa fa-{{icon}}" aria-hidden="true"></i>{{Status}}</button>
          </div>
        </form>
      </div>
     </div>
  </div>
</div>

