<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-dashboard"></i> Dashboard</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="widget-small primary coloured-icon">
        <i class="icon fa fa-users fa-3x"></i>
        <div class="info">
          <h4>User(s)</h4>
          <h5><b>{{ICountUser}}</b></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="widget-small info coloured-icon">
        <i class="icon fa fa-arrow-circle-down fa-3x"></i>
        <div class="info">
          <h4>Stock In </h4>
          <h5><b>{{ICountStockIn}}</b></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="widget-small warning coloured-icon">
        <i class="icon fa fa-arrow-circle-up fa-3x"></i>
        <div class="info">
          <h4>Stock Out</h4>
          <h5><b>{{ICountStockOut}}</b></h5>
        </div>
      </div>
    </div>
  </div>
</main>
