<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-dashboard"></i> Dashboard</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="widget-small primary coloured-icon">
        <i class="icon fa fa-users fa-3x"></i>
        <div class="info">
          <h4>User(s)</h4>
          <h5><b>{{ICountUser}}</b></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="widget-small info coloured-icon">
        <i class="icon fa fa-arrow-circle-down fa-3x"></i>
        <div class="info">
          <h4>Stock In </h4>
          <h5><b>{{ICountStockIn}}</b></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="widget-small warning coloured-icon">
        <i class="icon fa fa-arrow-circle-up fa-3x"></i>
        <div class="info">
          <h4>Stock Out</h4>
          <h5><b>{{ICountStockOut}}</b></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">List of Items (Pending to Stock Out) </h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Transaction No.</th>
                <th>Item Name</th>
                <th>Transaction Date.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itmp of IItemListPendingToStockOut" (click)="getTrxNo_GotoInvOutScreen(itmp.txrno)">
                <td><button class="btn btn-link">{{itmp.txrno}}</button></td>
                <td>{{itmp.itemname}}</td>
                <td>{{itmp.trxdate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="tile">
        <h3 class="tile-title">List of Items (Stock In) </h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Unit</th>
                <th>Quantity</th>
                <th>Transaction No.</th>
                <th>Transaction Date.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itmlst of IItemListStockIn">
                <td>{{itmlst.itemname}}</td>
                <td>{{itmlst.itemunit}}</td>
                <td>{{itmlst.qty}}</td>
                <td>{{itmlst.txrno}}</td>
                <td>{{itmlst.trxdate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tile">
        <h3 class="tile-title">List of Items (Stock Out) </h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Unit</th>
                <th>Quantity</th>
                <th>Transaction No.</th>
                <th>Transaction Date.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itmlst of IItemListStockOut" (click)="getTrxNo_GotoInvOutScreen(itmlst.txrno)">
                <td>{{itmlst.itemname}}</td>
                <td>{{itmlst.itemunit}}</td>
                <td>{{itmlst.qty}}</td>
                <td><button class="btn btn-link">{{itmlst.txrno}}</button></td>
                <td>{{itmlst.trxdate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
