<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-file-text"></i> Inventory Tally (Report)</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-5">
      <form [formGroup]="invReportsTally">
        <div class="tile">
          <h3 class="tile-title"><i class="fa fa-file-excel-o"></i>Inventory Tally</h3>
          <div class="tile-footer">
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label hidden>From</label>
              <input type="date" formControlName="dateFrom" class="form-control" hidden>
            </div>
            <div class="form-group col-md-6">
              <label hidden>To</label>
              <input type="date" formControlName="dateTo" class="form-control" hidden>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">

              </div>

              <br />
              <div class="col-md-8">
                <button class="btn btn-primary col-md-12" (click)="generateReports()"><i class="fa fa-file-excel-o"></i> Generate</button>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="form-group col-md-3">
                <div class="col-md-12">
                  <label style="color:red">{{Result}}</label>
                </div>

              </div>
            </div>


          </div>
        </div>
      </form>


    </div>
    <div class="col-md-4">
    </div>
    </div>
</main>
