<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-building-o"></i> Supplier</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="tile">
        <h3 class="tile-title">Vertical Form</h3>
        <div class="tile-body">
          
<form (ngSubmit)="insertUnitCodes()" [formGroup]="addForm">
  <div class="form-group">
    <input placeholder="Code" formControlName="Code" name="code" class="form-control" id="code">
  </div>
  <div class="form-group">
    <input placeholder="Description" formControlName="Description" name="unit_desc" class="form-control" id="unit_desc">
  </div>
  <div class="form-group">
    <input placeholder="Short Description" formControlName="ShortDescription" name="unit_short_desc" class="form-control" id="unit_short_desc">
  </div>
  <button class="btn-primary">Click Me!</button>

</form>
