<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-file-text"></i> Inventory Out (Report)</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-4">
      <form [formGroup]="invInReports">
        <div class="tile">
          <h3 class="tile-title"><i class="fa fa-file-excel-o"></i>Reports</h3>
          <div class="tile-footer">
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Transaction Number</label>
              <input type="text" formControlName="TransactionNumber" class="form-control" />
              <datalist>
                <option value=""></option>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Item Name</label>
              <input list="itemList" type="text" formControlName="ItemName" class="form-control" />
              <datalist id="itemList">
                <option *ngFor="let item of itemArray" id="{{item.itemName}}" value="{{item.itemName}}">{{item.id}}</option>

              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Item Unit</label>
              <input list="itemUnit" type="text" formControlName="ItemUnit" class="form-control" />
              <datalist id="itemUnit">
                <option *ngFor="let unit of unitArray" id="{{unit.code}}" value="{{unit.description}}">{{unit.code}}</option>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Department</label>
              <input list="depList" type="text" formControlName="department" class="form-control" />
              <datalist id="depList">
                <option *ngFor="let dep of depArray" id="{{dep.departmentName}}" value="{{dep.departmentName}}">{{dep.id}}</option>
              </datalist>
            </div>
          </div>
          <div class="form-group">
            <label>Choose Type to Filter</label>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-12">
                    <input type="radio" name="reportType"
                           formControlName="reportType"
                           value="TransactionDate" required>
                    Transaction Date
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label class="col-sm-12">
                    <input type="radio" name="reportType"
                           formControlName="reportType"
                           value="IssuedDate" required>
                    Issued Date
                  </label>
                </div>
               </div>

          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>From</label>
              <input type="datetime-local" formControlName="dateFrom" class="form-control">
              <datalist>
                <option value=""></option>
              </datalist>
            </div>
            <div class="form-group col-md-6">
              <label>To</label>
              <input type="datetime-local" formControlName="dateTo" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">

              </div>
              <div class="col-md-8">
                <button class="btn btn-primary col-md-12" (click)="generateReports()"><i class="fa fa-file-excel-o"></i> Generate</button>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
      <div class="col-md-4">
      </div>
  </div>
</main>
