<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-file-text"></i> Inventory In (Report)</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    
    <div class="col-md-4">
      <form [formGroup]="rptInvInFormGroup">
        <div class="tile">
          <h3 class="tile-title"><i class="fa fa-file-excel-o"></i> Census Report</h3>
          <div class="tile-footer">
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Supplier Name</label>
              <input formControlName="supplier_hdr" type="text" class="form-control" list="supplierSelect"/>
              <datalist id="supplierSelect">
                <option id="All Suppliers" data-value="All Suppliers">%</option>
                <option *ngFor="let sup of supplierArray"  id="{{sup.name}}" data-value="{{sup.name}}">{{sup.id}}</option>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Item Name</label>
              <input formControlName="itemMaster_dtl" type="text" class="form-control" list="itemmasterSelect" />
              <datalist id="itemmasterSelect">
                <option id="All Items" data-value="All Items">%</option>
                <option *ngFor="let im of itemasterArray" id="{{im.itemName}}" data-value="{{im.itemName}}">{{im.id}}</option>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Item Unit</label>
              <input formControlName="itemUnit_dtl" type="text" class="form-control" list="itemUnitSelect" />
              <datalist id="itemUnitSelect">
                <option id="All Item Units" data-value="All Item Units">%</option>
                <option *ngFor="let iu of itemUnitCodeArray" id="{{iu.description}}" data-value="{{iu.description}}">{{iu.code}}</option>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"> <label>From</label></div>
                <div class="col-md-4"></div>
              </div>
              <input type="datetime-local" formControlName="from_DT" class="form-control">
              <datalist>
                <option value=""></option>
              </datalist>
            </div>
            <div class="form-group col-md-6">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><label>To</label></div>
                <div class="col-md-4"></div>
              </div>
              <input type="datetime-local" formControlName="To_DT" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">

              </div>
              <div class="col-md-8">
                <button (click)="generateReportInvIn()" class="btn btn-primary col-md-12"><i class="fa fa-file-excel-o"></i> Generate</button>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <div class="col-md-4">
      <table id="rptInvInTable">
        <thead>
          <tr>
            <th>Transaction No.</th>
            <th>Transaction Date</th>
            <th>Item Name</th>
            <th>Item Unit</th>
            <th>Quantity</th>
            <th>LOT No.</th>
            <th>Supplier</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rptInArr of rptInvInArray">
            <td>{{rptInArr.trxdate}}</td>
            <td>{{rptInArr.trxno}}</td>
            <td>{{rptInArr.itemname}}</td>
            <td>{{rptInArr.itemunit}}</td>
            <td>{{rptInArr.qty}}</td>
            <td>{{rptInArr.lotno}}</td>
            <td>{{rptInArr.supplier}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
