<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-arrow-circle-up"></i>Inventory Management / Inventory Out</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <h3>Transaction Header</h3>

        <br />
        <form class="form" [formGroup]="InventoryOutHeaderForm" (change)="generateTrxNumandDate()">
          <div class="row">

            <div class="form-group col-md-3">
              <label for="transactionNo">Transaction Number</label>&nbsp;<label style="color:red; font:bold">*</label>
              <input list="trxList" formControlName="transactionNo" class="form-control" (change)="getTrxNum()"
                     [class.is-invalid]="this.InventoryOutHeaderForm.controls.transactionNo.touched && this.InventoryOutHeaderForm.controls.transactionNo.value.trim() == ''" required>
              <datalist id="trxList">
                <option *ngFor="let trxP of inventoryPendingTrx">{{trxP.transactionNo}}</option>
              </datalist>
            </div>

            <div class="form-group col-md-3">
              <label for="transactionDate">Transaction Date</label>&nbsp;<label style="color:red; font:bold">*</label>
              <input type="datetime-local" formControlName="transactionDate" class="form-control"
                     [class.is-invalid]="this.InventoryOutHeaderForm.controls.transactionDate.touched && this.InventoryOutHeaderForm.controls.transactionDate.value == ''" required readonly>
            </div>

            <div class="form-group col-md-3">
              <label for="department">Department</label>&nbsp;<label style="color:red; font:bold">*</label>
              <select formControlName="department" class="form-control"
                      [class.is-invalid]="this.InventoryOutHeaderForm.controls.department.touched && this.InventoryOutHeaderForm.controls.department.value.trim() == ''" required>
                <option *ngFor="let depList of depListArray" value="{{depList.id}}">{{depList.departmentName}}</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label for="referenceNo">Reference Number</label>&nbsp;<label style="color:red; font:bold">*</label>
              <input formControlName="referenceNo" class="form-control"
                     [class.is-invalid]="this.InventoryOutHeaderForm.controls.referenceNo.touched && this.InventoryOutHeaderForm.controls.referenceNo.value.trim() == ''" required>
            </div>

            <div class="form-group col-md-12">
              <label for="remarks">Remarks</label>
              <textarea formControlName="remarks" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <h3>Transaction Detail</h3>

        <br />
        <form class="form" [formGroup]="InventoryOutDetailForm">
          <div class="row">

            <!-- ITEM ID -->
            <div class="form-group col-md-3">
              <label for="itemID">Select Item</label> &nbsp;<label style="color:red; font:bold">*</label>
              <input list="itemOption" formControlName="itemID" class="form-control" (change)="checkUnit()"
                     [class.is-invalid]="this.InventoryOutDetailForm.controls.itemID.touched && this.InventoryOutDetailForm.controls.itemID.value.trim() == ''" required>

              <datalist id="itemOption">
                <option *ngFor="let option of inventoryInArray" id="{{option.itemName}}" value="{{option.itemName}}">{{option.itemID}}</option>
              </datalist>
            </div>

            <!-- UNIT -->
            <div class="form-group col-md-1">
              <label for="unit">Unit</label>&nbsp;<label style="color:red; font:bold">*</label>
              <input list="unitOption" formControlName="unit" class="form-control" (change)="checkLotNum()"
                     [class.is-invalid]="this.InventoryOutDetailForm.controls.unit.touched && this.InventoryOutDetailForm.controls.unit.value == ''" required>

              <datalist id="unitOption">
                <option *ngFor="let unit of unitArray" id="{{unit.unitDescription}}" value="{{unit.unitDescription}}">{{unit.unitCode}}</option>
              </datalist>
            </div>

            <!-- LOT NUMBER -->
            <div class="form-group col-md-3">
              <label for="in_TrxNo">Select from Lot Number</label>&nbsp;<label style="color:red; font:bold">*</label>
              <input list="lotNumOption" formControlName="in_TrxNo" class="form-control" (change)="checkRemainingCount()"
                     [class.is-invalid]="this.InventoryOutDetailForm.controls.in_TrxNo.touched && this.InventoryOutDetailForm.controls.in_TrxNo.value.trim() == ''" required>

              <ng-template *ngIf="this.InventoryOutDetailForm.controls.in_TrxNo.value != ''; then show">
              </ng-template>

              <ng-template #show>
                <div *ngFor="let count of Count">Item remaining count : {{remainingCount}}</div>
              </ng-template>

              <datalist id="lotNumOption">
                <option *ngFor="let lotNums of lotNumArray" id="{{lotNums.lotNumber}}" value="{{lotNums.lotNumber}}">{{lotNums.transactionNo}}</option>
              </datalist>
            </div>

            <!-- QUANTITY -->
            <div class="form-group col-md-1">
              <label for="quantity">Quantity</label>&nbsp;<label style="color:red; font:bold">*</label>
              <input type="number" formControlName="quantity" min="1" max="{{remainingCount}}" (input)="checkInputQuantity()" class="form-control"
                     [class.is-invalid]="this.InventoryOutDetailForm.controls.quantity.touched && this.InventoryOutDetailForm.controls.quantity.value == ''" required>
            </div>

            <!-- REMARKS -->
            <div class="form-group col-md-3">
              <label for="remarks">Remarks</label>
              <input formControlName="remarks" class="form-control">
            </div>

            <div class="form-group col-md-1 align-self-baseline">
               <!--<button class="btn btn-info" type="button" (click)="addItem()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>-->
              <div class="btn-group"><a class="btn btn-primary" (click)="addItem()"><i class="fa fa-lg fa-plus"></i></a>&nbsp;<a class="btn btn-danger" (click)="resetDetials()"><i class="fa fa-lg fa-trash"></i></a></div>
            </div>

          </div>
        </form>
        <br />
        <div class="tile-body">
          <div class="table-responsive">

            <table class="table table-hover table-bordered" id="table">
              <thead class="btn-dark">
                <tr>
                  <th>Item Name</th>
                  <th>Item Unit</th>
                  <th>Item Lot Number</th>
                  <th>Item Quantity</th>
                  <th>Item Remarks</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemArrayDTL">
                  <td>{{item.itemName}}</td>
                  <td>{{item.unitName}}</td>
                  <td>{{item.lotNumber}}</td>
                  <td>
                    <form [formGroup]="quantityForm">
                      <!--  <input type="number" formControlName="quantityInput" (keypress)="saveQuantityChanges(item.Item)" min="0" class="form-control" value="{{item.Quantity}}">-->

                      <div class="quantity buttons_added">
                        <input type="button" (click)="minusQuantity(item.itemID)" (keypress)="saveQuantityChanges(item.Item)" value="-" class="minus">
                        <input type="number" formControlName="quantityInput" min="1" value="{{item.quantity}}" class="input-text qty text">
                        <input type="button" (click)="addQuantity(item.itemID)" (keypress)="saveQuantityChanges(item.Item)" value="+" class="plus">
                        <p style="color:red">Expired</p>
                      </div>
                    </form>
                  </td>
                  <td>{{item.remarks}}</td>
                  <td><button type="button" class="btn btn-danger fc-center" (click)="removeItem(item.itemID)"><i class="fa fa-trash"></i>Remove Item</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fa-pull-right">
    <button class="btn btn-warning" type="button"(click)="resetPage()"><i class="fa fa-refresh"></i>Clear</button>
    &nbsp;
    <button class="btn btn-danger" type="button" [disabled]="isDisabledDeleteButton" (click)="deleteTransaction()"><i class="fa fa-trash-o"></i>Delete Transaction</button>
    &nbsp;
    <button class="btn btn-secondary" type="button" [disabled]="!InventoryOutHeaderForm.valid" (click)="saveorIssueTransaction('P')"><i class="fa fa-floppy-o"></i>Save Transaction</button>
    &nbsp;
    <button class="btn btn-primary" type="button" [disabled]="!InventoryOutHeaderForm.valid" (click)="saveorIssueTransaction('I')"><i class="fa fa-arrow-circle-up"></i>Issue Item</button>
  </div>
</main>
