<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-arrow-circle-up"></i>Inventory Management / Inventory Out</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <h3>Transaction Header</h3>
        <div class="fa-pull-right">
          <button class="btn btn-danger" type="button" [disabled]="isDisabledDeleteButton" (click)="deleteTransaction()"><i class="fa fa-trash-o"></i>Delete Transaction</button>
          &nbsp;
          <button class="btn btn-secondary" type="button"  (click)="saveTransaction()"><i class="fa fa-floppy-o"></i>Save Transaction</button>
          &nbsp;
          <button class="btn btn-primary" type="button" (click)="issueTransaction()"><i class="fa fa-arrow-circle-up"></i>Issue Item</button>
        </div>
        <br />
        <form class="form" [formGroup]="InventoryOutHeaderForm" (change)="checkTrxNum()">
          <div class="row">

            <div class="form-group col-md-3">
              <label for="transactionNo">Transaction Number</label>
              <input list="trxList" formControlName="transactionNo" class="form-control" (change)="getTrxNum()">
              <datalist id="trxList">
                <option></option>
              </datalist>
            </div>

            <div class="form-group col-md-3">
              <label for="transactionDate">Transaction Date</label>
              <input type="datetime-local" formControlName="transactionDate" class="form-control date" id="transactionDate" readonly>
            </div>

            <div class="form-group col-md-3">
              <label for="department">Department</label>
              <select formControlName="department" class="form-control">
                <option  *ngFor="let depList of depListArray" value="{{depList.id}}">{{depList.departmentName}}</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label for="referenceNo">Reference Number</label>
              <input formControlName="referenceNo" class="form-control">
            </div>

            <div class="form-group col-md-11">
              <label for="remarks">Remarks</label>
              <textarea formControlName="remarks" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <h3>Transaction Detail</h3>
    
        <br />
        <form class="form" [formGroup]="InventoryOutDetail">
          <div class="row">

            <!-- ITEM ID -->
            <div class="form-group col-md-3">
              <label for="itemID">Select Item</label>
              <input list="itemOption" formControlName="itemID" class="form-control" (change)="checkUnit()"
                         [class.is-invalid]="this.InventoryOutDetail.controls.itemID.touched && this.InventoryOutDetail.controls.itemID.value.trim() == ''" required>

              <datalist id="itemOption">
                <option *ngFor="let option of inventoryInArray">{{option.itemID}}</option>
              </datalist>
            </div>

            <!-- UNIT -->
            <div class="form-group col-md-1">
              <label for="unit">Unit</label>
              <select formControlName="unit" class="form-control" (change)="checkLotNum()"
                      [class.is-invalid]="this.InventoryOutDetail.controls.unit.touched && this.InventoryOutDetail.controls.unit.value.trim() == ''" required>
                <option *ngFor="let unit of unitArray" value="{{unit.unitCode}}">{{unit.unitDescription}}</option>
              </select>
            </div>

            <!-- LOT NUMBER -->
            <div class="form-group col-md-3">
              <label for="in_TrxNo">Select from Lot Number</label>
              <select list="lotNumOption" formControlName="in_TrxNo" class="form-control"
                      [class.is-invalid]="this.InventoryOutDetail.controls.in_TrxNo.touched && this.InventoryOutDetail.controls.in_TrxNo.value.trim() == ''" required>
                <option *ngFor="let lotNums of lotNumArray" value="{{lotNums.transactionNo}}">{{lotNums.lotNumber}}</option>
              </select>
            </div>

            <!-- QUANTITY -->
            <div class="form-group col-md-1">
              <label for="quantity">Quantity</label>
              <input type="number" formControlName="quantity" class="form-control"
                     [class.is-invalid]="this.InventoryOutDetail.controls.quantity.touched && this.InventoryOutDetail.controls.quantity.value == ''" required>
            </div>

            <!-- REMARKS -->
            <div class="form-group col-md-3">
              <label for="remarks">Remarks</label>
              <input formControlName="remarks" class="form-control"
                     [class.is-invalid]="this.InventoryOutDetail.controls.remarks.touched && this.InventoryOutDetail.controls.remarks.value.trim() == ''" required>
            </div>

            <div class="form-group col-md-1 align-self-end">
              <button class="btn btn-info" type="button" [disabled]="!InventoryOutDetail.dirty || !InventoryOutDetail.valid" (click)="addItem()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>
            </div>

          </div>
        </form>
        <br />
        <div class="tile-body">
          <div class="table-responsive">
          
            <table class="table table-hover table-bordered" id="table">
                <thead class="btn-dark">
                  <tr>
                    <th>Item Name</th>
                    <th>Item Unit</th>
                    <th>Item Lot Number</th>
                    <th>Item Quantity</th>
                    <th>Item Remarks</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of itemArrrayDTL">
                    <td>{{item.Item}}</td>
                    <td>{{item.Unit}}</td>
                    <td>{{item.LotNum}}</td>
                    <td>
                      <form [formGroup]="quantityForm">
                      <!--  <input type="number" formControlName="quantityInput" (keypress)="saveQuantityChanges(item.Item)" min="0" class="form-control" value="{{item.Quantity}}">-->

                        <div class="quantity buttons_added">
                          <input type="button" (click)="minusQuantity()" (keypress)="saveQuantityChanges(item.Item)" value="-" class="minus">
                          <input type="number" formControlName="quantityInput" min="1" value="{{item.Quantity}}" class="input-text qty text">
                          <input type="button" (click)="addQuantity()" (keypress)="saveQuantityChanges(item.Item)" value="+" class="plus">
                        </div>

                      </form>
                    </td>
                    <td>{{item.Remarks}}</td>
                    <td><button type="button" class="btn btn-danger fc-center" (click)="removeItem(item.Item)"><i class="fa fa-trash"></i>Remove Item</button></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</main>
