<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-user"></i> {{isNewUser? 'Add' : 'Edit'}} User</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="saveUserDetails()" [formGroup]="addEditForm">
        <div class="tile" style="border-radius: 10px 10px">
          <div>
            <h5>User Details</h5>
          </div>
          
          <div class="form-group row">
            <label for="'userID" class="col-md-2 col-sm-4 col-form-label">User ID</label>
            <div class="col-md-4 col-sm-10">
              <input formControlName="userId" class="form-control text-uppercase" [readonly]="!isNewUser"
                     [class.is-invalid]="addEditForm.controls['userId'].touched && addEditForm.controls['userId'].value.trim() == ''">
            </div>
          </div>
          <div class="form-group row">
            <label for="userName" class="col-md-2 col-sm-4 col-form-label">User Name</label>
            <div class="col-md-4 col-sm-10">
              <input formControlName="userName" class="form-control"
                     [class.is-invalid]="addEditForm.controls['userName'].touched && addEditForm.controls['userName'].value.trim() == ''">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-md-2 col-sm-4 col-form-label">Password</label>
            <div class="col-md-4 col-sm-10">
              <input type="password" autocomplete="off" formControlName="password" class="form-control"
                     [class.is-invalid]="addEditForm.controls['password'].touched && addEditForm.controls['password'].value.trim() == ''">
            </div>
          </div>

          <div class="form-group row">
            <label for="activeCb" class="col-md-2 col-sm-4 col-form-label">Active</label>
            <div class="col-md-4 col-sm-10">
              <input type="checkbox" formControlName="isActive" style="margin-top:12px">
            </div>
          </div>

          <div class="row" style="border:groove; border-radius:15px 15px 15px 15px; margin:20px 0px 15px 0px">
            <div class="col-md-12">
              <div style="margin-top: 15px">
                <h5>List of User Groups</h5>
              </div>

              <div formArrayName="userGroups" style="margin-bottom:20px">
                <div class="form-check" *ngFor="let ugForm of addEditForm.get('userGroups')['controls']; let i=index">
                  <div [formGroupName]="i">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" formControlName="isSelected">  {{ugForm.controls.name.value}}
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="form-control" style="border:hidden; margin:0px; margin-top:10px; padding:0px">
            <button class="btn btn-primary" style="width:100px"
                    [disabled]="addEditForm.controls['userId'].value.trim() == '' || addEditForm.controls['userName'].value.trim() == ''">
                    <i class="fa fa-save"></i> Save</button> &nbsp;
            <button type="submit" class="btn btn-warning" style="width:100px" [routerLink]="'/user-management/user-account/add'" (click)="clearEntry()"><i class="fa fa-eraser"></i> Clear</button> &nbsp;
            <button type="submit" class="btn btn-danger" style="width:100px" [disabled]="isNewUser && user.userID != 'SYSAD'" (click)="deleteUser()"><i class="fa fa-trash"></i> Delete</button>
          </div>

        </div>
      </form>

    </div>
  </div>
</main>


