<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-users"></i> User Accounts</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div>
          <h3 class="tile-title">List of Users</h3>
          <button type="button" style="margin-bottom:5px" class="btn btn-primary" [routerLink]="['/user-management/user-account/add']"><i class="fa fa-user-plus"></i> Add User</button>
        </div>
        <div class="tile-body">
          <div class="table-responsive">

            <table class="table table-hover table-bordered">
              <thead class="btn-dark">
                <tr class="text-center">
                  <td>User ID</td>
                  <td>Name</td>
                  <td>Update On</td>
                  <td>Update By</td>
                  <td>Active</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let user of users" [attr.name]="user.userID" [id]="user.userID">
                  <td>{{user.userID}}</td>
                  <td class="text-left">{{user.userName}}</td>
                  <td>{{user.updatedOn | date : 'shortDate' }} {{user.updatedOn | date : 'shortTime' }}</td>
                  <td>{{user.updatedBy}}</td>
                  <td [class.text-danger]="!user.isActive">{{user.isActive? 'Yes' : 'No'}}</td>
                  <td style="width:1px; white-space:nowrap">
                    <button class="btn btn-warning" style="width:100px" [routerLink]="'/user-management/user-account/edit/' + user.userID"><i class="fa fa-edit"></i>Edit</button> &nbsp;
                    <button class="btn btn-danger" style="width:100px" [name]="user.userID" (click)="onDeleteUser(user.userID  ,user.userName)" [disabled]="user.userID == 'SYSAD'"><i class="fa fa-trash"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
</main>



