@{
    ViewData["Title"] = "AP Result Management";
    ViewData["SideBarMenu"] = Model.SindeBarMenus ;
}

@model ApSampleReception.ViewModels.ApSampleReceptionViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to AP Sample Reception</h1>
</div>
