

 <!--    ITEM MASTER TABLE   -->

<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-building-o"></i>&nbsp;Dictionary/Item-Master</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <button type="button" class="btn btn-primary" (click)="clickAddItemMaster()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Item Master</button>
        <br />
        <br />
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Item Group Name</th>
                  <th>Item Name</th>
                  <th>Item Minimum Unit</th>
                  <th>Item Supplier</th>
                  <th>Item Manufacturer</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemM of ItemMasterArray" [id]="itemM.id">
                  <td>{{itemM.id}}</td>
                  <td>{{itemM.itemGroup}}</td>
                  <td>{{itemM.itemName}}</td>
                  <td>{{itemM.unit}}</td>
                  <td>{{itemM.supplier}}</td>
                  <td>{{itemM.manufacturer}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="passDataItemMaster(itemM.itemName,itemM.id)" data-toggle="modal" data-target="#AddItemUnitsModal"><i class="fa fa-plus-square-o"></i>Add Unit</button>&nbsp;
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                            (click)="PassData(itemM.id, itemM.itemGroup,itemM.itemName,itemM.unit,itemM.supplier,itemM.manufacturer)">
                      <i class="fa fa-pencil"></i>Edit
                    </button>&nbsp;
                    &nbsp;<button type="button" class="btn btn-danger" (click)="deleteItemMaster(itemM.id)"><i class="fa fa-trash"></i>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!--    ITEM MASTER MODAL    -->




  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{modalStatus}}</h4>
          </div>

          <form [formGroup]="addItemMasterForm">
            <div class="modal-body">

              <div class="form-group">
                <label for="itemid">Item ID</label>
                <input formControlName="id" [readonly]="!isAdd" class="form-control itemGroupByClass" [name]="idInputName" #itemid id="itemid">
              </div>

              <div class="form-group">
                <label for="itemGroupNameDropdown">Item Group Name</label>
                <select formControlName="ItemGroup" class="form-control itemGroupByClass" #itemGroupNameDropdown id="itemGroupNameDropdown">
                  <option *ngFor="let itemG of itemGroupArray" value="{{itemG.id}}">{{itemG.itemGroupName}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="itemNameInput">Item Name</label>
                <input formControlName="ItemName" class="form-control itemGroupByClass" [name]="itemNameInputName" #itemNameInput id="itemNameInput">
              </div>

              <div class="form-group">
                <label for="itemUnitInput">Item Minimum Unit</label>
                <select formControlName="Unit" class="form-control itemGroupByClass" #itemUnitInput id="itemUnitInput">
                  <option *ngFor="let unitC of unitCodeArray" value="{{unitC.code}}">{{unitC.description}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="itemSupplierInput">Item Supplier</label>
                <select formControlName="Supplier" class="form-control itemGroupByClass" #itemSupplierInput id="itemSupplierInput">
                  <option value="suppname">suppname</option>
                </select>
              </div>

              <div class="form-group">
                <label for="itemManufacturerInput">Item Manufacturer</label>
                <select formControlName="Manufacturer" class="form-control itemGroupByClass" [name]="manuname" #itemManufacturerInput id="itemManufacturerInput">
                  <option value="manuname">manuname</option>
                </select>
              </div>

            </div>

            <div class="modal-footer">
              <ng-template *ngIf="isAdd; then add; else update">

              </ng-template>

              <ng-template #add>
                <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
                <button class="btn btn-primary" (click)="insertItemMaster()"><i class="fa fa-{{icon}}" aria-hidden="true"></i>{{Status}}</button>
              </ng-template>

              <ng-template #update>
                <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
                <button class="btn btn-primary" (click)="updateItemMaster()"><i class="fa fa-{{icon}}" aria-hidden="true"></i>{{Status}}</button>
              </ng-template>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>



  <!--    ITEM MASTER UNIT MODAL    -->

  <div class="container">
    <!-- Modal AddItemUnitsModal -->
    <div class="modal fade" id="AddItemUnitsModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Item Unit for {{ItemMasterUnitName}}</h4>
          </div>

          <form [formGroup]="addItemMasterUnitForm">
            <div class="modal-body row">

              <div class="form-group col-md-5">
                <label for="itemMasterUnitUnit">Select Unit</label>
                <select formControlName="itemMasterUnitUnit" class="form-control itemMasterUnitClass" #itemMasterUnitUnit id="itemMasterUnitUnit">
                  <option value=""></option>
                  <option *ngFor="let unitC of UnitCodeSelectArray" value="{{unitC.code}}">{{unitC.description}}</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="itemMasterUnitConversionID">Item Master Conversion</label>
                <input formControlName="itemMasterUnitConversion" class="form-control itemMasterUnitClass" [name]="itemMasterUnitConversionName" #itemMasterUnitConversionID id="itemMasterUnitConversionID">
              </div>

              <div class="form-group align-self-end">
                <br />

                <ng-template *ngIf="isITMUAdd; then additemUnitMaster; else updateItemUnitMaster">
                </ng-template>

                <ng-template #additemUnitMaster>
                  <button class="btn btn-primary" (click)="saveItemMasterUnit()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                </ng-template>

                <ng-template #updateItemUnitMaster>
                  <button class="btn btn-primary" (click)="updateItemMasterUnit()"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
                  &nbsp;
                  <button class="btn btn-secondary" (click)="clearItemMasterUnit()"><i class="fa fa-eraser" aria-hidden="true"></i>Clear</button>
                </ng-template>

              </div>
            </div>


            <!--    ITEM MASTER UNIT TABLE    -->

            <div class="form-group col-md-12">
              <div class="tile-body">
                <div class="table-responsive">
                  <table class="table table-hover table-bordered" id="table">
                    <thead>
                      <tr>
                        <th>Unit</th>
                        <th>Conversion Factor</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itmU of ItemMasterUnitArray" [id]="itmU.itemMasterUnit">
                        <td id="itmU.unitCode">{{itmU.unitDescription}}</td>
                        <td>{{itmU.conversionFactor}}</td>
                        <td>
                          <button type="button" class="btn btn-warning" [disabled]="itmU.conversionFactor == 1" (click)="passDataItemMasterUnit(itmU.unitCode, itmU.conversionFactor)"><i class="fa fa-pencil"></i>Edit</button>
                          &nbsp;<button type="button" class="btn btn-danger" [disabled]="itmU.conversionFactor == 1" (click)="deleteItemMasterUnit(itmU.itmU.unitCode)"><i class="fa fa-trash"></i>Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</main>

