

 <!--    ITEM MASTER TABLE   -->

<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-building-o"></i>&nbsp;Dictionary/Item-Master</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <button type="button" class="btn btn-primary" (click)="clickAddItemMaster()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Item Master</button>
        <br />
        <br />
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Item Group Name</th>
                  <th>Item Name</th>
                  <th>Item Minimum Unit</th>
                  <th>Item Supplier</th>
                  <th>Item Manufacturer</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let showD of showAllDataDic" [id]="showD.itemMasterID">
                  <td>{{showD.itemMasterID}}</td>
                  <td id="{{showD.itemGroupID}}">{{showD.itemgroupname}}</td>
                  <td>{{showD.itemName}}</td>
                  <td id="{{showD.code}}">{{showD.description}}</td>
                  <td id="{{showD.suppID}}">{{showD.suppName}}</td>
                  <td id="{{showD.mauFactID}}">{{showD.manufactName}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="passDataItemMaster(showD.itemName,showD.itemMasterID)" data-toggle="modal" data-target="#AddItemUnitsModal"><i class="fa fa-plus-square-o"></i>Add Unit</button>&nbsp;
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                            (click)="PassData(showD.itemMasterID, showD.itemGroupID, showD.itemName, showD.code,showD.suppID, showD.mauFactID)">
                      <i class="fa fa-pencil"></i>Edit
                    </button>&nbsp;
                    &nbsp;<button type="button" class="btn btn-danger" (click)="deleteItemMaster(showD.itemMasterID)"><i class="fa fa-trash"></i>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!--    ITEM MASTER MODAL    -->




  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{modalStatus}}</h4>
          </div>

          <form [formGroup]="addItemMasterForm">
            <div class="modal-body">

              <div class="form-group">
                <label for="id">Item ID</label>
                <input formControlName="id" [readonly]="!isAdd" class="form-control"
                       [class.is-invalid]="this.addItemMasterForm.controls.id.touched && this.addItemMasterForm.controls.id.value.trim() == ''" required>
              </div>

              <div class="form-group">
                <label for="ItemGroup">Item Group Name</label>
                <select formControlName="ItemGroup" class="form-control"
                        [class.is-invalid]="this.addItemMasterForm.controls.ItemGroup.touched && this.addItemMasterForm.controls.ItemGroup.value.trim() == ''" required>
                  <option value=""></option>
                  <option *ngFor="let itemG of itemGroupArray" value="{{itemG.id}}">{{itemG.itemGroupName}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="ItemName">Item Name</label>
                <input formControlName="ItemName" class="form-control itemGroupByClass"
                       [class.is-invalid]="this.addItemMasterForm.controls.ItemName.touched && this.addItemMasterForm.controls.ItemName.value.trim() == ''" required>
              </div>

              <div class="form-group">
                <label for="Unit">Item Minimum Unit</label>
                <select formControlName="Unit" class="form-control"
                        [class.is-invalid]="this.addItemMasterForm.controls.Unit.touched && this.addItemMasterForm.controls.Unit.value.trim() == ''" required>
                  <option value=""></option>
                  <option *ngFor="let unitC of unitCodeArray" value="{{unitC.code}}">{{unitC.description}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="Supplier">Item Supplier</label>
                <select formControlName="Supplier" class="form-control"
                        [class.is-invalid]="this.addItemMasterForm.controls.Supplier.touched && this.addItemMasterForm.controls.Supplier.value.trim() == ''" required>
                  <option value=""></option>
                  <option *ngFor="let suppD of supplierDataArray" value="{{suppD.id}}">{{suppD.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="Manufacturer">Item Manufacturer</label>
                <select formControlName="Manufacturer" class="form-control"
                        [class.is-invalid]="this.addItemMasterForm.controls.Manufacturer.touched && this.addItemMasterForm.controls.Manufacturer.value.trim() == ''" required>
                  <option value=""></option>
                  <option *ngFor="let manuD of manufactDataArray" value="{{manuD.id}}">{{manuD.manufactName}}</option>
                </select>
              </div>

            </div>

            <div class="modal-footer">
              <ng-template *ngIf="isAdd; then add; else update">

              </ng-template>

              <ng-template #add>
                <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
                <button class="btn btn-primary" [disabled]="!addItemMasterForm.valid" (click)="insertItemMaster()"><i class="fa fa-{{icon}}" aria-hidden="true"></i>{{Status}}</button>
              </ng-template>

              <ng-template #update>
                <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
                <button class="btn btn-primary" [disabled]="!addItemMasterForm.dirty || !addItemMasterForm.valid" (click)="updateItemMaster()"><i class="fa fa-{{icon}}" aria-hidden="true"></i>{{Status}}</button>
              </ng-template>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>



  <!--    ITEM MASTER UNIT MODAL    -->

  <div class="container">
    <!-- Modal AddItemUnitsModal -->
    <div class="modal fade" id="AddItemUnitsModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Item Unit for <strong>{{ItemMasterUnitName}}</strong></h4>
          </div>

          <form class="form" [formGroup]="addItemMasterUnitForm">
            <div class="modal-body row">

              <div class="form-group col-md-5">
                <strong><label for="itemMasterUnitUnit">Select Unit</label></strong>
                <select formControlName="itemMasterUnitUnit" (change)="itemChanges()" class="form-control itemMasterUnitClass" id="itemMasterUnitDropdown"
                                [class.is-invalid]="this.addItemMasterUnitForm.controls.itemMasterUnitUnit.touched && this.addItemMasterUnitForm.controls.itemMasterUnitUnit.value == ''" required>
                  <option value=""></option>
                  <option *ngFor="let unitC of UnitCodeSelectArray" value="{{unitC.code}}">{{unitC.description}}</option>
                </select>
                <span class="text-danger" style="text-align:center"
                      *ngIf="(this.addItemMasterUnitForm.controls.itemMasterUnitUnit.touched && this.addItemMasterUnitForm.controls.itemMasterUnitUnit.value == '')">

                  &nbsp;  &nbsp;Please Select an Item
                </span>
              </div>

              <div class="form-group col-md-4">
                <label for="itemMasterUnitConversion">Item Master Conversion</label>
                <input formControlName="itemMasterUnitConversion" type="number" class="form-control itemMasterUnitClass"
                       [class.is-invalid]="this.addItemMasterUnitForm.controls.itemMasterUnitConversion.touched && this.addItemMasterUnitForm.controls.itemMasterUnitConversion.value == ''" required>
                <span class="text-danger" style="text-align:center"
                      *ngIf="(this.addItemMasterUnitForm.controls.itemMasterUnitConversion.touched && this.addItemMasterUnitForm.controls.itemMasterUnitConversion.value == '')">

                  &nbsp;  &nbsp;Conversion Factor is required
                </span>
              </div>

              <div class="form-group">
                <br />

                <ng-template *ngIf="isITMUAdd; then additemUnitMaster; else updateItemUnitMaster">
                </ng-template>

                <ng-template #additemUnitMaster>
                  <button class="btn btn-primary" #itemMasterUnitSaveButton [disabled]="isButtonDisabled || !addItemMasterUnitForm.dirty || !addItemMasterUnitForm.valid" id="itemMasterUnitSaveButton" (click)="saveItemMasterUnit()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                </ng-template>

                <ng-template #updateItemUnitMaster>
                  <button class="btn btn-primary" [disabled]="isButtonDisabled || !addItemMasterUnitForm.valid" (click)="updateItemMasterUnit()"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
                  &nbsp;
                  <button class="btn btn-secondary" (click)="clearItemMasterUnit()"><i class="fa fa-eraser" aria-hidden="true"></i>Clear</button>
                </ng-template>

              </div>
            </div>


            <!--    ITEM MASTER UNIT TABLE    -->

            <div class="form-group col-md-12">
              <div class="tile-body">
                <div class="table-responsive">
                  <table class="table table-hover table-bordered" id="table">
                    <thead>
                      <tr>
                        <th>Unit</th>
                        <th>Conversion Factor</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itmU of ItemMasterUnitArray" [id]="itmU.unitCode">
                        <td id="itmU.unitCode">{{itmU.unitDescription}}</td>
                        <td>{{itmU.conversionFactor}}</td>
                        <td>
                          <button type="button" class="btn btn-warning" [disabled]="itmU.conversionFactor == 1" (click)="passDataItemMasterUnit(itmU.unitCode, itmU.conversionFactor)"><i class="fa fa-pencil"></i>Edit</button>
                          &nbsp;<button type="button" class="btn btn-danger" [disabled]="itmU.conversionFactor == 1" (click)="deleteItemMasterUnit(itmU.unitCode)"><i class="fa fa-trash"></i>Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

