@{
    ViewData["Title"] = "BB";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to BB Landing Page</h1>

        <div>
            <a href="@Url.Action("index", "register-donor", new { Area = "bb", Folder = "donor-management"})" class="btn btn-primary">Donor Registration</a>
        </div>

        <div>
            <a href="@Url.Action("index", "result-entry", new { Area = "bb", Folder = "result-management"})" class="btn btn-primary">Result Entry</a>
        </div>

    </div>
