<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-arrow-circle-down"></i> Inventory Management / Inventory In</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <form [formGroup]="addInventoryInFormGroup">
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Transaction Header</h3>
          <div class="tile-footer">

          </div>

          <div class="row">

            <div class="form-group col-md-4">
              <label>Transaction No.</label>
              <input type="text" formControlName="trxNo_hdr" readonly class="form-control"
                     [class.is-invalid]="addInventoryInFormGroup.controls['trxNo_hdr'].touched && addInventoryInFormGroup.controls['trxNo_hdr'].value.trim() == ''" required autofocus>
            </div>
            <div class="form-group col-md-2">
              <label>Transaction Date</label>
              <input type="datetime-local" formControlName="trxDate_hdr" readonly  class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label>PO No.</label><label style="color:red">*</label>
              <input type="text" formControlName="PONo_hdr" class="form-control"
                     [class.is-invalid]="addInventoryInFormGroup.controls['PONo_hdr'].touched && addInventoryInFormGroup.controls['PONo_hdr'].value.trim() == ''" required autofocus>
            </div>
            <div class="form-group col-md-3">
              <label>Invoice No.</label><label style="color:red">*</label>
              <input type="text" formControlName="invoiceNo_hdr" class="form-control"
                     [class.is-invalid]="addInventoryInFormGroup.controls['invoiceNo_hdr'].touched && addInventoryInFormGroup.controls['invoiceNo_hdr'].value.trim() == ''" required autofocus>
            </div>
            <div class="form-group col-md-2">
              <label>Received Date</label>
              <input type="datetime-local" formControlName="rcvdDate_hdr" class="form-control"
                     [class.is-invalid]="addInventoryInFormGroup.controls['rcvdDate_hdr'].touched && addInventoryInFormGroup.controls['rcvdDate_hdr'].value == ''" required autofocus>
            </div>
            <div class="form-group col-md-2">
              <label>Received By</label><label style="color:red">*</label>
              <input type="text" formControlName="rcvdBy_hdr" class="form-control"
                     [class.is-invalid]="addInventoryInFormGroup.controls['rcvdBy_hdr'].touched && addInventoryInFormGroup.controls['rcvdBy_hdr'].value.trim() == ''" required autofocus>
            </div>
            <div class="form-group col-md-2">
              <label>Supplier Name</label>
              <input formControlName="supplier_hdr" class="form-control" list="supplierSelect"/>
              <datalist id="supplierSelect">
                <option *ngFor="let sup of Isupplier" value="{{sup.id}}">{{sup.name}}</option>
              </datalist>
            </div>
            <div class="form-group col-md-3">
              <label>Reference No.</label><label style="color:red">*</label>
              <input type="text" formControlName="refNo_hdr" class="form-control"
                     [class.is-invalid]="addInventoryInFormGroup.controls['refNo_hdr'].touched && addInventoryInFormGroup.controls['refNo_hdr'].value.trim() == ''" required autofocus>
            </div>
            <div class="form-group col-md-3">
              <label>Document No.</label>
              <input type="text" formControlName="docNo_hdr" class="form-control" />
            </div>
            <div class="form-group col-md-12">
              <label for="exampleTextarea">Remarks</label>
              <textarea type="text" formControlName="remarks_hdr" class="form-control" required autofocus rows="2"></textarea>
            </div>
          </div>

          <div class="tile-footer">

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Transaction Details</h3>
          <div class="tile-footer">

          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label>Item Name</label><label style="color:red">*</label>
              <input formControlName="itemMaster_dtl" id="hide_itemmaster" class="form-control" list="itemSelect" #itemMasterSelect (change)='onSelectedItemMaster(itemMasterSelect.value)'
                     (input)="enabledUnitCode()"
                     required autofocus>
              <datalist id="itemSelect">
                <option value=""></option>
                <option *ngFor="let im of Iitemmaster" value="{{im.id}}">{{im.itemName}}</option>
              </datalist>
            </div>
            <div class="form-group col-md-3">
              <label>Item Unit</label><label style="color:red">*</label>
              <input formControlName="itemUnit_dtl" class="form-control" list="unitSelect" #itemMasterUnitSelect (change)='onSelectCoversionFactor(itemMasterSelect.value,itemMasterUnitSelect.value)'
                     [readonly]="isReadonly_UC"
                      (input)="enabledQuantity()"
                     required autofocus>
              <datalist id="unitSelect">

                <option value=""></option>
                <option *ngFor="let iu of ItemMasterUnitArray" value="{{iu.unitCode}}">{{iu.unitDescription}}</option>
              </datalist>
            </div>
            <div class="form-group col-md-2">
              <label>Quantity</label><label style="color:red">*</label>
              <input (input)="onTextChangedQuantityInput()" formControlName="quantity_dtl" type="number" class="form-control"
                      [readonly]="isReadonly_QTY"
                     required autofocus>
            </div>
            <div class="form-group col-md-2" hidden>
              <label>Count</label>
              <input formControlName="count_dtl" type="number" class="form-control" />
            </div>

            <div class="form-group col-md-2" hidden>
              <label>Remaining Count</label>
              <input formControlName="remainingcount_dtl" type="number" class="form-control" />
            </div>
          </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label>LOT No.</label><label style="color:red">*</label>
                <input formControlName="lotno_dtl" type="text" class="form-control"
                       [class.is-invalid]="addInventoryInFormGroup.controls['lotno_dtl'].touched && addInventoryInFormGroup.controls['lotno_dtl'].value.trim() == ''" required autofocus>
              </div>
              <div class="form-group col-md-4">
                <label>Expiration Date</label><label style="color:red">*</label>
                <input formControlName="expDate_dtl" type="datetime-local" class="form-control"
                       [class.is-invalid]="addInventoryInFormGroup.controls['expDate_dtl'].touched && addInventoryInFormGroup.controls['expDate_dtl'].value == ''" required autofocus>
              </div>

              
            </div>
              
            <div class="tile-footer">
              <div class="row">
                <div class="col-md-5"></div>
                <div class="form-group col-md-2">
                  <button type="button" (click)="insertInventoryInTrx()" class="btn btn-primary pull-right col-md-12"><i class="fa fa-arrow-circle-down"></i>Inventory In</button></div>
                <div class="col-md-5"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</main>
