
@{
    ViewData["Title"] = "Login Page";
}

    <div class="text-center">
        <h1 class="display-4 alert-danger">Not Authorized</h1>
        <p>Invalid company ID, user ID or password.</a>.</p>
    </div>
