@{
    ViewData["Title"] = "Register Page";
}

    <div class="text-center">
        <h1 class="display-4">Login</h1>


        <form action="/Home/Register" method="post">
            <input type="text" name="companyid" value=@ViewData["CompanyID"] /><br>
            <input type="text" name="userid" value="" /><br>
            <input type="text" name="password" value="" /><br>

            <button type="submit">Register</button>
        </form>
    </div>
