@{
    ViewData["Title"] = "AP";
    ViewData["SideBarMenu"] = Model.SindeBarMenus;

}

@model ApLandingPage.ViewModels.ApLandingPageUserAccountFoldersViewModel;

   <div class="text-center">
       <h1 class="display-4">Welcome @Model.UserAccount.UserName</h1>
       <h1 class="display-4">AP Landing Page</h1>

       <br/>

       @foreach (var pm in Model.Menus)
       {
           <p>
               <a href="@Url.Action("index",pm.ControllerRouteAttribute, new { Area = pm.ModuleRouteAttribute, Folder = pm.FolderRouteAttribute})" class="btn btn-primary">@pm.ID - @pm.Name</a>
           </p><br/>
       }
   </div>
