@{
    ViewData["Title"] = "Landing Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Landing Page</h1>
        <a href="@Url.Action("logout", "home")" class="btn btn-warning">Sign-Out</a>
    </div>
