@{
    ViewData["Title"] = "Login Page";
}

    <div class="text-center">
        <h1 class="display-4">Login</h1>


        <form action="/Home/Login" method="post">
            <input type="text" name="companyid" value="" /><br>
            <input type="text" name="userid" value="" /><br>
            <input type="text" name="password" value="" /><br>
            <button type="submit">Login</button>
        </form>
    </div>
