<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-building-o"></i> Item-Group</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title"></h3>
        <div class="col text-right">
        </div>
        <button type="button" class="btn btn-primary" (click)="ClickAdd()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Item Group</button>
        <br />
        <br />
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Item Group Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itgp of itemGroup" [id]="itgp.id">
                  <td>{{itgp.id}}</td>
                  <td>{{itgp.itemGroupName}}</td>
                  <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" (click)="PassData(itgp.id, itgp.itemGroupName)"><i class="fa fa-pencil"></i>Edit</button>
                  &nbsp;<button type="button" class="btn btn-danger" (click)="deleteItemGroup(itgp.id)"><i class="fa fa-trash" ></i>Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Item Group</h4>
          </div>

          <form (ngSubmit)="verifyProcess()" [formGroup]="addItemGroupForm">
            <div class="modal-body">

              <div class="form-group">
                <label for="itemid">Item ID</label>
                <input formControlName="id" [value]="idInput" name="id"  class="form-control" #itemid id="itemid">
              </div>
              <div class="form-group">
                <label for="itemgroupnametext">Item Group Description</label>
                <input formControlName="itemGroupName" [value]="itemGroupInput" name="itemGroupName" #itemgroupnametext class="form-control" id="itemgroupnametext">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" #closeModal class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>&nbsp;
              <button class="btn btn-primary"><i class="fa fa-{{icon}}" aria-hidden="true"></i>{{Status}}</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>

  </div>

</main>

