@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Cloud IMS</h1><br>
        <a href="/bb" class="btn btn-primary">Blood Bank Landing Page</a><br><br>
        <a href="/ap" class="btn btn-primary">Anatomical Pathology Landing Page</a><br><br>
        <a href="@Url.Action("logout", "home", new { Area = "home", Folder = "home"})" class="btn btn-warning">Sign-Out</a>
    </div>
