<main class="app-content">
  <div class="app-title">
    <div>
      <h3><i class="fa fa-times"></i> Inventory Management / Defected Items</h3>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12">

    <div class="bs-component">
          <form [formGroup]="defectedItemFormGroup">
            <div class="row">
              <div class="col-md-12">
                <div class="tile">
                  <div class="row">
                    <div class="col-lg-4 mr-auto ml-auto">
                      <div class="form-group">
                        <label>Item ID</label>
                        <input formControlName="lotno_dtl" type="text" class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['lotno_dtl'].touched && addInventoryInFormGroup.controls['lotno_dtl'].value == ''" required autofocus>
                      </div>
                        <div class="form-group">
                          <label>Item Name</label>
                            <input formControlName="itemMaster_dtl" readonly class="form-control" >
                        </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Item Unit</label>
                          <div class="row">
                            <input formControlName="itemUnit_dtl" class="form-control col-md-10" list="unitSelect" #itemMasterUnitSelect (change)='onSelectCoversionFactor(itemMasterSelect.value,itemMasterUnitSelect.value)'
                                   [readonly]="isReadonly_UC"
                                   (input)="enabledQuantity()"
                                   required autofocus>
                            <datalist id="unitSelect">

                              <option value=""></option>
                              <option *ngFor="let iu of ItemMasterUnitArray" id="{{iu.unitDescription}}" data-value="{{iu.unitDescription}}">{{iu.unitCode}}</option>
                            </datalist>
                            <button class="btn btn-primary col-md-1" [disabled]="isReadonly_LookUp_Btn_ItemUnit" data-toggle="modal" data-target="#itemMasterUnitModal"><i class="fa fa-list"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Quantity</label>
                        <input (input)="onTextChangedQuantityInput()" formControlName="quantity_dtl" type="number" class="form-control"
                               [readonly]="isReadonly_QTY"
                               required autofocus>
                      </div>
                      <div class="form-group">
                        <label>LOT No.</label>
                        <input formControlName="lotno_dtl" type="text" readonly class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['lotno_dtl'].touched && addInventoryInFormGroup.controls['lotno_dtl'].value == ''" required autofocus>
                      </div>
                      
                      <div class="form-group">
                        <label>Count</label>
                        <input formControlName="count_dtl" type="number" readonly class="form-control" />
                      </div>

                      <div class="form-group">
                        <label>Remaining Count</label>
                        <input formControlName="remainingcount_dtl" type="number" readonly class="form-control" />
                      </div>

                      <div class="form-group">
                        <label for="exampleTextarea">Remarks</label>
                        <textarea type="text" formControlName="remarks_hdr" class="form-control" required autofocus rows="2"></textarea>
                      </div>

                    </div>
                    <div class="col-lg-6 mr-auto ml-auto">
                      <div class="form-group">
                        <label>Transaction No.</label>
                        <input type="text" formControlName="trxNo_hdr" readonly class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['trxNo_hdr'].touched && addInventoryInFormGroup.controls['trxNo_hdr'].value == ''" required autofocus>
                      </div>
                      <div class="form-group">
                        <label>Transaction Date</label>
                        <input type="datetime-local" formControlName="trxDate_hdr" readonly class="form-control">
                      </div>
                      <div class="form-group">
                        <label>PO No.</label>
                        <input type="text" formControlName="PONo_hdr" readonly class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['PONo_hdr'].touched && addInventoryInFormGroup.controls['PONo_hdr'].value == ''" required autofocus>
                      </div>
                      <div class="form-group">
                        <label>Invoice No.</label>
                        <input type="text" formControlName="invoiceNo_hdr"  readonly class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['invoiceNo_hdr'].touched && addInventoryInFormGroup.controls['invoiceNo_hdr'].value == ''" required autofocus>
                      </div>
                      <div class="form-group">
                        <label>Received Date</label>
                        <input type="datetime-local" formControlName="trxDate_hdr" readonly class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Received By</label>
                        <input type="text" formControlName="rcvdBy_hdr" readonly  class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['rcvdBy_hdr'].touched && addInventoryInFormGroup.controls['rcvdBy_hdr'].value.trim() == ''" required autofocus>
                      </div>

                        <div class="form-group">
                          <label>Supplier Name</label>
                            <input formControlName="supplier_hdr"  readonly  class="form-control"/>
                          
                        </div>

                      <div class="form-group">
                        <label>Reference No.</label>
                        <input type="text" formControlName="refNo_hdr"  readonly  class="form-control"
                               [class.is-invalid]="addInventoryInFormGroup.controls['refNo_hdr'].touched && addInventoryInFormGroup.controls['refNo_hdr'].value.trim() == ''" required autofocus>
                      </div>
                      <div class="form-group">
                        <label>Document No.</label>
                        <input type="text" formControlName="docNo_hdr" readonly  class="form-control" />
                      </div>
                      
                    </div>
                  </div>
                  <div class="tile-footer">
                    <button type="button" (click)="resetScreen()" class="btn btn-warning"><i class="fa fa-eraser"></i>Clear Fields</button>&nbsp;
                    <button type="button" (click)="insertInventoryInTrx()" class="btn btn-primary"><i class="fa fa-times"></i>Mark as Defected</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</main>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="supplierModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-list"></i>List of Suppliers</h4>
        </div>


        <div class="modal-body">
          <div class="table">
            <table class="table table-hover table-bordered" id="sampletable">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sup of Isupplier" [id]="sup.id">
                  <td>{{sup.id}}</td>
                  <td>{{sup.name}}</td>
                  <td><button class="btn btn-primary" (click)="supplierSelectLookUp(sup.id)" data-dismiss="modal"><i class="fa fa-check-square"></i>Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" id="closeModal" #closeModal class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="itemMasterModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-list"></i>List of Items</h4>
        </div>


        <div class="modal-body">
          <div class="table">
            <table class="table table-hover table-bordered" id="sampletable">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let im of Iitemmaster" [id]="im.id">
                  <td>{{im.id}}</td>
                  <td>{{im.itemName}}</td>
                  <td><button class="btn btn-primary" (click)="itemMasterSelectLookUp(im.id)" data-dismiss="modal"><i class="fa fa-check-square"></i>Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" id="closeModal" #closeModal class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="itemMasterUnitModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-list"></i>List of Item Units</h4>
        </div>


        <div class="modal-body">
          <div class="table">
            <table class="table table-hover table-bordered" id="sampletable">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let iu of ItemMasterUnitArray" [id]="iu.unitCode">
                  <td>{{iu.unitCode}}</td>
                  <td>{{iu.unitDescription}}</td>
                  <td><button class="btn btn-primary" (click)="itemMasterUnitSelectLookup(iu.unitCode)" data-dismiss="modal"><i class="fa fa-check-square"></i>Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" id="closeModal" #closeModal class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
